
<ul class="nav">
  <li class="nav-item logo">
    <%= link_to image_tag("devcamplogo.png", :size => "140x38"), root_path %>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Apply To Bootcamp</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <%= link_to "Students", index_path, class: "nav-link" %>
  </li>
  <li class="dang">
    <%= login_helper %>
  </li>
</ul>


              